<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col21Block') }}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col22Block') }}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col23Block') }}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col24Block') }}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col25Block') }}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col26Block') }}
    </div>
</div>
